main{
    background-image: url(https://media.tommy.com/us/static/images/scheduled_marketing/2024/08/08_HP_FullTile01_dt.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.stores img{
    filter: invert(1);
}
.stores h6{
    margin-top:9px ;
    margin-left: 5px;
    font-family: Kanit;
}

.brandname h5{
    font-family: lato;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;

    
}

.brandname img{
    padding-bottom: 5px;
    width: 5%;
    height: 5%;
}
.navbar .mx-auto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-brand.text-center {
    margin: 0;
    color: #ffffff;
}
.list1 a{
    color: #ffffff;
    font-family: lato;
}
.list1 a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}